# These are some examples of commonly ignored file patterns.
# You should customize this list as applicable to your project.
# Learn more about .gitignore:
#     https://www.atlassian.com/git/tutorials/saving-changes/gitignore

# Compiled Python bytecode
*.py[cod]

# Log files
*.log

# Maven
target/
dist/

# Pip
/build
*.egg-info/

# VS code
.vscode/

# JetBrains IDE
.idea/

# Unit test reports
TEST*.xml

# Applications
*.app
*.exe
*.war

# Large media files
*.mp4
*.tiff
*.avi
*.flv
*.mov
*.wmv

