# Compiled Python bytecode
__pycache__
*.py[cod]

# Log files
*.log

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
pip-wheel-metadata/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# Applications
*.app
*.exe

node_modules/

# Environments
pyvenv.cfg
.venv
.env
.claude
.opencode
package.json
package-lock.json
